<!DOCTYPE html>
<html>
<head>
<title>Foodscraper</title>
<meta charset="utf-8"/>
<meta content="width=device-width, initial-scale=1" name="viewport"/>
<link href="{{ url_for('static', filename= 'style.css') }}" rel="stylesheet"/>
</head>
<body>
<div class="header">
<h1>FoodScraper</h1>
<h3>Jämför priserna bland de mest populära produkterna från några av de 
 största matkedjorna inom Göteborgsregionen!</h3>
</div>
<div class="table-div">
<table>
<tr>
<th colspan="2">Ica Maxi</th>
<th colspan="2">Coop</th>
<th colspan="2">Willys</th>
</tr><tr class="tr-div">
</tr><tr id="tr1">
<th scope="col">Namn</th>
<th scope="col">Pris</th>
<th scope="col">Namn</th>
<th scope="col">Pris</th>
<th scope="col">Namn</th>
<th scope="col">Pris</th>
<th scope="col">Namn</th>
<th scope="col">Pris</th>
</tr><tr class="tr-div">
<td id="maxi_mince_name" src="https://handlaprivatkund.ica.se/stores/1004219/search?q=blandf%C3%A4rs&amp;sortBy=favorite">Blandfärs 50/50 18% 500g KRAV ICA I love eco</td>
<td id="maxi_mince_price">55,95 kr</td>
<td id="coop_mince_name" src="https://www.coop.se/handla/sok/?q=blandf%C3%A4rs">Blandfärs ca 1000g</td>
<td id="coop_mince_price">89,95 kr</td>
<td id="willys_mince_name" src="https://www.willys.se/sok?q=blandf%C3%A4rs&amp;sort=ranking_int%3Aasc">Blandfärs 20% Sverige 1kg</td>
<td id="willys_mince_price">92,90 kr/st</td>
</tr>
<tr>
<td id="maxi_cheese_name" src="https://handlaprivatkund.ica.se/stores/1004219/search?q=ost%20arla">Mild &amp; Syrlig ost ca 500g Arla</td>
<td id="maxi_cheese_price">72,50 kr</td>
<td id="coop_cheese_name" src="https://www.coop.se/handla/sok/?q=ost+arla">Präst ost 750g</td>
<td id="coop_cheese_price">90,00 kr</td>
<td id="willys_cheese_name">Präst Mellanlagrad 31%</td>
<td id="willys_cheese_price">121,00 kr/st</td>
<td>data</td>
<td>data</td>
</tr>
<tr>
<td id="maxi_fish_name" src="https://handlaprivatkund.ica.se/stores/1004219/search?q=fryst%20fisk">Alaska pollock Fryst 400g ICA Basic</td>
<td id="maxi_fish_price">25,00 kr</td>
<td id="coop_fish_name" src="https://www.coop.se/handla/sok/?q=fisk+fryst">Stillahavsflundra 400g</td>
<td id="coop_fish_price">66,95 kr</td>
<td id="willys_fish_name" src="https://www.willys.se/sok?q=fryst+fisk&amp;sort=ranking_int%3Aasc">Laxbitar Fryst 300g</td>
<td id="willys_fish_price">51,90 kr/st</td>
<td>data</td>
<td>data</td>
</tr>
<tr>
<td id="maxi_potato_name" src="https://handlaprivatkund.ica.se/stores/1004219/search?q=Fast%20Potatis&amp;sortBy=favorite">Potatis Fast 1,2kg Klass 1 ICA</td>
<td id="maxi_potato_price">33,95 kr</td>
<td id="coop_potato_name" src="https://www.coop.se/handla/sok/?q=potatis">Färskpotatis</td>
<td id="coop_potato_price">19,95 kr</td>
<td id="willys_potato_name" src="https://www.willys.se/sok?q=potatis&amp;sort=ranking_int%3Aasc">Potatis Fast Klass 1</td>
<td id="willys_potato_price">19,90 kr/st</td>
<td>data</td>
<td>data</td>
</tr>
<td id="maxi_chicken_name" src="https://handlaprivatkund.ica.se/stores/1004219/search?q=kycklingfile">Kyckling minutfilé ca 600g Kronfågel</td>
<td id="maxi_chicken_price">81,60 kr</td>
<td id="coop_chicken_name" src="https://www.coop.se/handla/sok/?q=kycklingfile">Kycklingfilé 100g</td>
<td id="coop_chicken_price">95 kr</td>
<td id="willys_chicken_name" src="https://www.willys.se/sok?q=kycklingfile&amp;sort=ranking_int%3Aasc">Kycklingfilé Bröstfilé Sverige 850g</td>
<td id="willys_chicken_price">129 kr/kg</td>
<td>data</td>
<td>data</td>
</table>
</div>
</body>
</html>