<!DOCTYPE html>
<html>
<head>
<title>Foodscraper</title>
<meta charset="utf-8"/>
<meta content="width=device-width, initial-scale=1" name="viewport"/>
<link href="{{ url_for('static', filename= 'style.css') }}" rel="stylesheet"/>
</head>
<body>
<div class="header">
<h1>FoodScraper</h1>
<h3>Jämför priserna bland populära varor från några av de 
 största matkedjorna!</h3>
</div>
<div class="table-div">
<table>
<tr>
<th colspan="2">Ica Maxi</th>
<th colspan="2">Ica Supermarket</th>
<th colspan="2">Coop</th>
<th colspan="2">Willys</th>
</tr><tr class="tr-div">
</tr><tr id="tr1">
<th scope="col">Namn</th>
<th scope="col">Pris</th>
<th scope="col">Namn</th>
<th scope="col">Pris</th>
<th scope="col">Namn</th>
<th scope="col">Pris</th>
<th scope="col">Namn</th>
<th scope="col">Pris</th>
</tr><tr class="tr-div">
<td id="maxi_mince_name">Blandfärs 50/50 18% 500g KRAV ICA I love eco</td>
<td id="maxi_mince_price">55,95 kr</td>
<td>data</td>
<td>data</td>
<td>data</td>
<td>data</td>
<td>data</td>
<td>data</td>
</tr>
<tr>
<td id="maxi_cheese_name">Ost Mellanlagrad Folke 31% ca 750g ICA</td>
<td id="maxi_cheese_price">Ca90,75 kr</td>
<td>data</td>
<td>data</td>
<td>data</td>
<td>data</td>
<td>data</td>
<td>data</td>
</tr>
<tr>
<td id="maxi_fish_name">Ryggfilé av Torsk Fryst 3-p 420g ICA</td>
<td id="maxi_fish_price">121,00 kr</td>
<td>data</td>
<td>data</td>
<td>data</td>
<td>data</td>
<td>data</td>
<td>data</td>
</tr>
<tr>
<td id="maxi_potato_name">Potatis Fast 1,2kg Klass 1 ICA</td>
<td id="maxi_potato_price">32,95 kr</td>
<td>data</td>
<td>data</td>
<td>data</td>
<td>data</td>
<td>data</td>
<td>data</td>
</tr>
</table>
</div>
</body>
</html>